.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.appbar {
  display: flex;
  flex-basis: 10%;
  align-items: center;
  background-color: #fff;
  box-shadow: -1px 2px 5px 1px #c7c7c7;
  color: #58627c;
}

.appbar div {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
  font-weight: 500;
  outline: none;
}

.active {
  color: #8971c8;
  border-bottom: solid 3px #8971c8;
}

.container {
  display: flex;
  flex-direction: column;
  flex-basis: 90%;
  padding: 15px 30px;
  overflow: hidden;
}

.form-title {
  color: #155dc8;
  font-size: 1.2em;
}

p {
  margin: 10px;
}

.form-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #fff;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  border-radius: 2px;
}

.form-wrapper > .input-wrapper {
  flex-basis: 30%;
}

.input-wrapper {
  display: flex;
  padding: 20px;
  height: 100px;
  flex-direction: column;
}

.input-wrapper input {
  margin-top: 10px;
  width: 80%;
  height: 30px;
  font-size: 18px;
  border-radius: 5px;
}

small {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #ff2ca7;
}

input:focus {
  outline: 0;
  border: 2px solid #c8b2ff;
  box-shadow: 0px 1px 7px #a196bd;
}

.normal {
  border: 2px solid #d6d6d6;
}
.error {
  box-shadow: none;
  outline: none;
  border: 2px solid #ff76c6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.actions,
.feedback {
  display: flex;
  flex-basis: 100%;
}

.feedback {
  align-items: center;
  margin: 20px;
  font-size: 18px;
}

.feedback > * {
  flex-basis: 50%;
}

.radio-btn {
  margin: 0 30px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 2px #bca3fb;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0);
  }
}

.radio-btn:checked {
  animation: ripple 0.2s linear forwards;
  background-color: #9178d1;
}

.options {
  display: flex;
  align-items: center;
}

.options label {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #764be2;
}

.actions {
  margin: 20px 0;
  justify-content: center;
  align-items: center;
}

.dialogWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog {
  max-width: 400px;
  height: 300px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
}

.dialog > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog p {
  flex-basis: 100%;
  color: #000;
  font-size: 20px;
}

.dialog button {
  flex-basis: 100%;
  margin: 0 100px;
}

button {
  width: 100px;
  height: 40px;
  border: none;
  text-transform: uppercase;
  box-shadow: 1px 2px 5px #bebebe;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 600;
  outline: 0;
  cursor: pointer;
}

@keyframes contained {
  0% {
    background-color: hsl(0, 0%, 75%);
  }
  50% {
    background-color: #a5a5a5;
  }
  100% {
    background-color: #bebebe;
  }
}

button:active {
  animation: contained 0.3s ease-in-out;
}

.tableWrapper {
  padding: 5px;
  width: 100%;
}

h1 {
  font-weight: 500;
  font-size: 24px;
}

.table {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px #d3d3d3;
}

.header,
.content {
  display: flex;
}

.header > div {
  background-color: #efe9fa;
  font-weight: 500;
}

.content > div {
  background-color: #fff;
}
.header > div,
.content > div {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-color: #dadada;
  border-style: double;
  border-width: 0px 1px 1px 1px;
}

.mobile {
  display: none;
}
@media screen and (min-width: 951px) and (max-width: 1260px) {
  .form-wrapper > .input-wrapper {
    flex-basis: 25%;
  }
}

@media screen and (max-width: 950px) {
  .form-wrapper {
    justify-content: center;
    overflow-y: scroll;
  }
  .form-wrapper > .input-wrapper {
    padding: 10px;
    flex-basis: 70%;
    justify-content: center;
  }

  .input-wrapper input {
    width: 100%;
  }
  .feedback {
    flex-direction: column;
    align-items: flex-start;
  }
  .feedback > * {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .content {
    display: none;
  }
  .table {
    background-color: #fff;
  }
  .mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(238, 98, 98);
  }
}

@media screen and (max-width: 600px) {
  * {
    font-size: 14px;
  }
  h1 {
    font-size: 18px;
  }
  .input-wrapper input {
    font-size: 14px;
    height: 24px;
  }
  .appbar div {
    flex-basis: 100%;
  }
  .feedback > * {
    justify-content: flex-start;
    font-size: 14px;
  }
  .options {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }
  .options > * {
    width: 100%;
  }
  .header {
    display: none;
  }
}
